			td{border: 1em #efefef; background: #f6feff}
			tr{margin-bottom: 1em;font-size: 108%}

			a:hover{color: #cc9908;text-decoration: underline}
			a:visited{color: #000000}			

			h1{font-weight: lighter; color: #777777}
			h2{font-weight:lighter;font-style: italic;font-size: 110%;
				padding-top:.1em; padding-bottom: .2em}
			
			.item{margin: 1em;color: #222211;line-height: 125%;font-size:90%}
			
			.link>a{color:#b36500;font-size: 105%;padding: 1em}
			li>a{color:#4400b5}
			#linkback{float:right; color:blue;}
			.active{background: #eeeeff}
			.off{background: #f6feff; }
			
			.date{font-size: 80%;}
			
			table{ width:60%; border: 2px double #fdfdff}
			li{line-height:150%; padding: .45em}
			ul{margin-left: 3%; text-indent: 2px;list-style-type:none}
